## Identify and Handle Missing Values

In [4]:
import pandas as pd

In [44]:
df = pd.read_csv('sales_data.csv')   # ‚Üê match exactly what you saw
df.head(5)

     Customer Name   Gender        country    AGE purchase date  Amount($)
0     Allison Hill   female             US    NaN    1997-12-23     438.06
1      Noah Rhodes         m  United States   NaN    2001-10-12     394.41
2  Angie Henderson      Male          India  46.0    2019-08-13     317.61
3    Daniel Wagner   female           India  51.0    1973-09-08     915.02
4  Cristian Santos   female             usa  46.0    2015-10-28     975.63

In [46]:
df.shape

(53, 6)

In [50]:
df.isnull().sum()

Customer Name     0
 Gender           6
country           7
AGE              24
purchase date    23
Amount($)         0
dtype: int64

In [71]:
import pandas as pd

df = pd.read_csv('sales_data.csv')

# Clean column names
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

# Now you can safely reference column names
df['gender'] = df['gender'].fillna('Unknown')
df['country'] = df['country'].fillna('Unknown')
df['age'] = df['age'].fillna(df['age'].median())
df = df.dropna(subset=['purchase_date'])

In [73]:
print(df.isnull().sum())

customer_name    0
gender           0
country          0
age              0
purchase_date    0
amount($)        0
dtype: int64

## Analyse that the file has duplicate values or not

In [75]:
has_duplicates = df.duplicated().any()
print("Are there duplicate rows?", has_duplicates)

Are there duplicate rows? False

the file has no duplicate values

## Standardizing Gender

In [76]:
df['gender'] = df['gender'].str.strip().str.lower()

In [77]:
# Standardize gender
gender_map = {
    'm': 'male',
    'male': 'male',
    'f': 'female',
    'female': 'female',
    'unknown': 'unknown',
    'na': 'unknown',
    'n/a': 'unknown'
}
df['gender'] = df['gender'].map(gender_map).fillna('unknown')

In [78]:
print(df.head(10))

     customer_name  gender        country   age purchase_date  amount($)
0     Allison Hill  female            US   44.0    1997-12-23     438.06
1      Noah Rhodes    male  United States  44.0    2001-10-12     394.41
2  Angie Henderson    male          India  46.0    2019-08-13     317.61
3    Daniel Wagner  female          India  51.0    1973-09-08     915.02
4  Cristian Santos  female            usa  46.0    2015-10-28     975.63
5  Connie Lawrence  female             in  44.0    2014-06-20     865.76
6  Abigail Shaffer  female  United States  33.0    2013-12-21     400.71
7       Gina Moore    male          India  32.0    1976-09-12     762.70
8  Gabrielle Davis  female          India  22.0    1974-02-15     393.49
9       Ryan Munoz  female            US   39.0    1997-05-26     902.13

## Standardizing country

In [79]:
df['country'] = df['country'].str.strip().str.lower()

In [82]:
# Standardize country
country_map = {
    'usa': 'United States',
    'us': 'United States',
    'u.s.': 'United States',
    'united states': 'United States',
    'uk': 'United Kingdom',
    'england': 'United Kingdom',
    'india': 'India',
    'bharat': 'India',
    'unknown': 'unknown',
    'n/a': 'unknown'
}
df['country'] = df['country'].map(country_map).fillna('unknown')

In [86]:
print(df.head(10))

     customer_name  gender        country   age purchase_date  amount($)
0     Allison Hill  Female  United States  44.0    1997-12-23     438.06
1      Noah Rhodes    Male  United States  44.0    2001-10-12     394.41
2  Angie Henderson    Male          India  46.0    2019-08-13     317.61
3    Daniel Wagner  Female          India  51.0    1973-09-08     915.02
4  Cristian Santos  Female  United States  46.0    2015-10-28     975.63
5  Connie Lawrence  Female        Unknown  44.0    2014-06-20     865.76
6  Abigail Shaffer  Female  United States  33.0    2013-12-21     400.71
7       Gina Moore    Male          India  32.0    1976-09-12     762.70
8  Gabrielle Davis  Female          India  22.0    1974-02-15     393.49
9       Ryan Munoz  Female  United States  39.0    1997-05-26     902.13

## Convert date to a consistent type

In [88]:
# Clean column names
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_").str.replace("($)", "", regex=True)

# Convert purchase_date to datetime format
df['purchase_date'] = pd.to_datetime(df['purchase_date'], errors='coerce', dayfirst=True)

# Convert datetime to consistent string format: dd-mm-yyyy
df['purchase_date'] = df['purchase_date'].dt.strftime('%d-%m-%Y')

# Confirm changes
print(df[['purchase_date']].head(5))

  purchase_date
0    23-12-1997
1    12-10-2001
2    13-08-2019
3    08-09-1973
4    28-10-2015

In [89]:
print(df.head(10))

     customer_name  gender        country   age purchase_date  amount($)
0     Allison Hill  Female  United States  44.0    23-12-1997     438.06
1      Noah Rhodes    Male  United States  44.0    12-10-2001     394.41
2  Angie Henderson    Male          India  46.0    13-08-2019     317.61
3    Daniel Wagner  Female          India  51.0    08-09-1973     915.02
4  Cristian Santos  Female  United States  46.0    28-10-2015     975.63
5  Connie Lawrence  Female        Unknown  44.0    20-06-2014     865.76
6  Abigail Shaffer  Female  United States  33.0    21-12-2013     400.71
7       Gina Moore    Male          India  32.0    12-09-1976     762.70
8  Gabrielle Davis  Female          India  22.0    15-02-1974     393.49
9       Ryan Munoz  Female  United States  39.0    26-05-1997     902.13

## Rename column headers

In [99]:
# Rename columns to Title Case (First letter uppercase, rest lowercase)
df.columns = [col.strip().title() for col in df.columns]

In [100]:
print(df.head(10))

     Customer_Name  Gender        Country   Age Purchase_Date  Amount($)
0     Allison Hill  Female  United States  44.0    23-12-1997     438.06
1      Noah Rhodes    Male  United States  44.0    12-10-2001     394.41
2  Angie Henderson    Male          India  46.0    13-08-2019     317.61
3    Daniel Wagner  Female          India  51.0    08-09-1973     915.02
4  Cristian Santos  Female  United States  46.0    28-10-2015     975.63
5  Connie Lawrence  Female        Unknown  44.0    20-06-2014     865.76
6  Abigail Shaffer  Female  United States  33.0    21-12-2013     400.71
7       Gina Moore    Male          India  32.0    12-09-1976     762.70
8  Gabrielle Davis  Female          India  22.0    15-02-1974     393.49
9       Ryan Munoz  Female  United States  39.0    26-05-1997     902.13

## Check and fix data types

In [101]:
print(df.dtypes)

Customer_Name     object
Gender            object
Country           object
Age              float64
Purchase_Date     object
Amount($)        float64
dtype: object

In [103]:
# Convert Age to integer (handle missing or invalid entries)
df['Age'] = pd.to_numeric(df['Age'], errors='coerce').astype('Int64')  # Allows null values

# Convert Purchase Date to datetime
df['Purchase_Date'] = pd.to_datetime(df['Purchase_Date'], errors='coerce', dayfirst=True)

In [105]:
print(df.dtypes)
print(df[['Age', 'Purchase_Date']].head())

Customer_Name            object
Gender                   object
Country                  object
Age                       Int64
Purchase_Date    datetime64[ns]
Amount($)               float64
dtype: object
   Age Purchase_Date
0   44    1997-12-23
1   44    2001-10-12
2   46    2019-08-13
3   51    1973-09-08
4   46    2015-10-28

In [106]:
df.to_csv("sales_data_cleaned.csv", index=False)